.scs-nav-home-topics {

  border-left: 1px solid #bfc1c3;
  background: #dcebef;
  ul {
    padding-left: 0px;

    li {
      list-style: none;
      position: relative;
      margin-bottom: 0px;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      color: black;
      margin-bottom: 2px;
    }

    h3  {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5px;
      color: $scs-colour-blue;
    }

    a {
      padding: 2px 30px 2px 5px;
      text-transform: none;
      font-size: 16px;
      line-height: 1.1428571429;
      position: relative;
      display: block;
      text-decoration:none!important;

       &:after {
         position: absolute;
         top: 50%;
         margin-top: -16px;
         right: 10px;
         float: right;
         content: "\203A";
         font-size: 32px;
        }

        &:hover {
          background: #b1d3dc;
        }
    }
  }
}
