
{% extends 'topic.njk' %}


{% block topic_title %}
Jobs and Work Experience
{% endblock %}

{% block main_content %}


  <ul>

    <li>
      <a href="#" >
        <h3>All job vacancies on myAdvantage</h3>
        <p>Used by employers specifically looking to recruit Warwick students. All vacancies are screened by our advisers to ensure you get the best opportunities.</p>
      </a>
    </li>

      <li>
        <a href="#" >
          <h3>Job search appointment</h3>
          <p>Help with finding and applying for work experience and jobs vacancies</p>
        </a>
      </li>



      <li>
        <a href="https://myadvantage.warwick.ac.uk/students/jobs/search?text=&typeofwork=3078&location=" >
          <h3>myAdvantage work experience vacancies</h3>
          <p>Large selection of Warwick students only work experience vacancies</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Warwick Summer Internship (WSI) </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
        </a>
      </li>

      <li>
        <a href="https://warwick.ac.uk/services/careers/workexperience/campusopportunities" >
          <h3>Work experience on campus at Warwick</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
        </a>
      </li>


      <li>
        <a href="" >
          <h3>Warwick Volunteers</h3>
          <p>Volunteering is an excellent way of gaining new skills and experience, enhancing your personal development, finding new friends and making a positive difference.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Warwick Enhanced Summer Work Experience Bursary</h3>
          <p>This fund supports students who have secured unpaid work experience in hard-to-access sectors. </p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Warwick Work Experience Bursary Scheme</h3>
          <p>The Warwick Work Experience Bursary is funded by the generous donations of Warwick alumni and friends and provides finacial support to students undertaking unpaid work experience and to help you maximise your career prospects as a result.</p>
        </a>
      </li>


  </ul>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="/interviews/topic_interviews.html">Interviews</a></li>
  <li><a href="/job-searching/topic_job-searching.html">Job searching</a></li>
</ul>
{% endblock %}

{% block topic_promo %}
    <div class="scs-side-nav-promo boxstyle_ box1" />
        <h2>Help and advice</h2>

    <p>You can book a <a href="#">guidance appointment</a> with one of our advisors to discuss your options and get help and support with your career planning.</p>

    <p>Our helpdesk can also help with general enquires and changing or cancelling bookings</p>

       <h3><i class="fa fa-envelope fa-fw"></i><span class="sr-only">Email</span> <span class="scs-helpdesk"><a href="mailto:careers@warwick.ac.uk">careers@warwick.ac.uk</a></span></h3>
       <h3><i class="fa fa-phone fa-fw"></i><span class="sr-only">Phone</span> +44 (0)24 7652 3011</h3>
    </div>
  {% endblock %}
