
{% extends 'homepage.njk' %}

{% block main_content %}

<div class="row scs-homepage-mega-links blue-bkgd-box ">

 <div class="col-sm-12">
       <h2>Popular opportunities<span class="lighten"> A-Z</span></h2>
 </div>
  <div class="col-sm-4">
    <h3><a href="#">Award schemes</a></h3>
<p>Help understanding how the university experiences add value to your employability.
</p>

<h3><a href="#">Bursary schemes</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<h3><a href="#">Careers guidance appointments</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>


<h3><a href="#">Digital skills courses</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<h3><a href="#">Development programmes</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

  </div>

  <div class="col-sm-4">


<h3><a href="#">Enterprise Funding</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<h3><a href="#">International opportunities</a></h3>
<p>Includes interview support, video interviews, telephone interviews</p>

<h3><a href="#">Internships</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

  <h3><a href="">Job Vacancies</a></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

  <h3><a href="">Language courses</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

</div>


  <div class="col-sm-4 ">


  <h3><a href="">Study abroad</a></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>


    <h3><a href="">Student Societies</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>


  <h3><a href="">Skills development workshops</a></h3>
  <p>Includes awards, personal development, study & research skills, academic writing
  </p>

  <h3><a href="/options/topic_future-options.html">Volunteering</a></h3>
  <p>Career motivations, goals, skills and strengthes</p>

  <h3><a href="/options/topic_future-options.html">Work experience</a></h3>
  <p>Career motivations, goals, skills and strengthes</p>

  <p><a href="#">Show All</a></p>

</div>

</div>


<div class="row row-spacer equal-height-md">


  <div class="col-md-4"> <!-- Fluid width widget -->
<section class="box boxstyle_ box1">

  <h2>Hear from Alumni about what opportunities helped them</h2>

  <p><a href="#">Peter Shelley - Engineer </a> </p>

  <p><a href="#">Albi Smith - Project Manager CAFOD</a></p>

  <p><a href="#">Teng Hao  - CoFound </a></p>


        </section>
  </div>




  <div class="col-md-4">
    <section class="box boxstyle_ box2"><h2>Hear from current students</h2>


<p><a href="#">Esme Smith - PAIS</a> </p>

<p><a href="#">Johnny English - WMG graduate</a></p>

<p><a href="#">Victoria Santiago  - Humanities</a></p>

<p><a href="#">Frederic Poole - Modern Langauage</a></p>




</section>
  </div>

  <div class="col-md-4">
    <section class="box boxstyle_ box5">
      <h2>Start thinking about how your entire university experience adds value to your employability.</h2>

    <p>Contact us for an employabilty health check</p>

    <i class="fa fa-envelope fa-fw"></i><span class="sr-only">Email</span>
    <span class="scs-helpdesk"><a href="mailto:careers@warwick.ac.uk">careers@warwick.ac.uk</a></span></br>
    <i class="fa fa-phone fa-fw"></i><span class="sr-only">Phone</span> +44 (0)24 7652 3011



</section>
  </div>

</div>



{% endblock %}
