
{% extends 'homepage.njk' %}

{% block main_content %}

<div class="row scs-homepage-mega-links blue-bkgd-box ">

 <div class="col-sm-4">
       <h2>Popular opportunities<span class="lighten"> A-Z</span></h2>
 </div>
 <div class="col-sm-4">

 </div>
 <div class="col-sm-4">
       <h2><span class="lighten"> Browse by </span>topic </h2>
 </div>
  <div class="col-sm-4" >
    <h3><a href="#">Allotment Society</a></h3>
<p>In our weekly sessions, we do everything from digging drainage ditches to planting potatoes ...
</p>

<h3><a href="#">Introduction to iMovie</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<h3><a href="#">Interview practice and support</a></h3>
<p>Book one-to-one support for job interviews or job searching</p>


<h3><a href="#">Enterprise Fund</a></h3>
<p>Students at Warwick have the opportunity to apply for a proof of concept grant of up to £1,000.</p>


<h3><a href="">Job Vacancies</a></h3>
<p>Curated vacancies list exclusive to Warwick students</p>

<h3><a href="">Language Learning</a></h3>
<p>A wide range of foreign language courses from beginners to beyond advanced level.</p>


  </div>

  <div class="col-sm-4">


    <h3><a href="#">Sprint Programme</a></h3>
    <p>Personal Development Programme for Female Students (UG and PG programmes available).</p>

    <h3><a href="#">Study Happy</a></h3>
    <p>Supporting students' wellbeing in library spaces and beyond.</p>

<h3><a href="#">Summer internships programme</a></h3>
<p>Full-time, paid 6+ week experiences, exclusively for Warwick undergraduate students.</p>

<h3><a href="#">URSS</a></h3>
<p>Enables undergraduate students to carry out an interdisciplinary summer research project.</p>


<h3><a href="#">Warwick in Africa</a></h3>
<p>Warwick in Africa partners with schools in Ghana, South Africa and Tanzania to support the teaching of English and Mathematics.</p>

<h3><a href="#">Warwick Incubator</a></h3>
<p>Empowering students in pursuing their entrepreneurial journey.</p>

<h3 ><a href="#" style="color: black!important">Load more ...</a></h3>
</div>


  <div class="col-sm-4 scs-nav-home-topics " >

            <ul>
              <li> <a href="#">
                <h3>Bursaries and funding</h3>
                <p>Including enterprise funding, research grants, work experience funding</p>

    </a> </li>
              <li> <a href="#">
                <h3>Jobs and work experience</h3>
                <p>Careers Fairs, Job vacancies, volunteering, internships, career advice and coaching</p>
    </a> </li>
              <li> <a href="#">
                <h3>Skills courses</h3>
                <p>Including software, languages, programming, presentation and communication skills</p>
    </a>
  </li>

              <li>
                  <a href="#">
                  <h3>Programmes and awards</h3>
                  <p>Including Study abroad, URSS and Sprint programme</p>

    </a> </li>

          <li>
            <a href="#">

                <h3>Societies, sports and networking</h3>
                <p>Student society, sports clubs, warwick incubator</p>
          </a>
          </li>

          <li>
            <a href="#">

                <h3>Talks and Events</h3>
                <p>Inspiration women talks, employer events, and Alumni talks</p>
          </a>
          </li>



            </ul>

  </div>

</div>


<div class="row row-spacer equal-height-md">


  <div class="col-md-4"> <!-- Fluid width widget -->
<section class="box boxstyle_ box1">

  <h1 style="font-size: 32px;
line-height: 34px;">Hear from Fellow Students</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/XY6DD2GazKI?start=6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



        </section>
  </div>




  <div class="col-md-4">
    <section class="box boxstyle_ box2">

      <h1 style="font-size: 32px;
      line-height: 34px;">Sprint Postgraduate Programme</h1>

      <p>Personal Development Programme for Female Students (UG and PG programmes available)

The Sprint programme has been introduced for all female students, to help you take hold of your personal development and help realise your ambitions.</p>

      <img src="" alt="">


</section>
  </div>

  <div class="col-md-4">
    <section class="box boxstyle_ box5">
      <h1 style="font-size: 32px;
    line-height: 34px;">Experiences make you more employable</h1>

    <h2>Find out how to make the most of your experiences at Warwick when it comes to finding a job</h2>

    <i class="fa fa-envelope fa-fw"></i><span class="sr-only">Email</span>
    <span class="scs-helpdesk"><a href="mailto:careers@warwick.ac.uk">careers@warwick.ac.uk</a></span></br>
    <i class="fa fa-phone fa-fw"></i><span class="sr-only">Phone</span> +44 (0)24 7652 3011



</section>
  </div>

</div>



{% endblock %}
