<section class="course-finder">
  <div class="image-container">
    <figure id="image1" class="flush-top full-width"><img src="//warwick.ac.uk/study/postgraduate/hp-contents/pg_1170x375_banner_homepage_3.jpg" border="0" alt="Postgraduate study homepage banner - abstract vector triangles in red and purple">

</figure>
  </div>

  <div class="form">
    <form action="//search.warwick.ac.uk/website">
      <h2><label for="course-search">Opportunities to increase your employability</br> during your time at Warwick</label> </h2>
      <h3></h3>
<input type="hidden" name="source" value="https://warwick.ac.uk/study/postgraduate"> <input type="hidden" name="urlPrefix" value="https://warwick.ac.uk/study/postgraduate/courses"> <input type="hidden" name="fileFormat" value="text/html">
      <div class="input-group input-group-lg"><input id="course-search" type="search" name="q" class="form-control" placeholder="Search for skill courses, jobs, work experience, bursaries, mentoring, volunteering, awards and much more ..."> <span class="input-group-btn"> <button class="btn btn-brand" type="submit">Search</button> </span> </div>

    </form>


  </div>

</section>


<style>
            .course-finder h2 {
                font-size: 42px;
                /* ~42px */
                text-transform: none;
                font-weight: bold;
            }

            .form a {
                color: white;
                text-decoration-color: white;
            }

            .form a:hover {
                color: grey;
                text-decoration-color: grey
            }

            .input-group {
                padding-bottom: 10px;
            }

            @media (max-width: 768px) {
                .form a {
                    color: #323232;
                    text-decoration-color: #323232;
                }

                .form a:hover {
                    color: #999999;
                    text-decoration-color: #999999
                }

                .section-links h3 {
                    padding-left: 10px;
                }


            </style>
