<nav class="navbar navbar-primary hidden-xs" role="navigation">
  <ul class="nav navbar-nav">
    <li class="first protected" >
      <a href="/advice/topic_advice-and-appointments.html">Advice and Support</a>
    </li>
    <li> <a href="/skills/topic_skills-courses.html">Skills courses</a>
    </li>
    <li> <a href="/experience/topic_get-work-experience.html">Jobs and work experience</a>
    </li>
    <li> <a href="/awards-programmes/topic_awards-programmes.html">Programmes and Awards</a>
    </li>
    <li> <a href="/applications/topic_job-applications.html">Talks and Events</a>
    </li>
    <li> <a href="/interviews/topic_interviews.html">Bursaries and Funding</a>
    </li>

    <li> <a href="/interviews/topic_interviews.html">Student Societies</a>
    </li>



  </ul>
</nav>
